<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<system.diagnostics>
		<sources>
			<source name="System.Data.SqlClient" switchValue="Verbose">
				<listeners>
					<add name="SqlClientListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="E:\Save Projects\Visual\C#\New folder (2)\Lab04\SqlClient.log" />
					<remove name="Default" />
				</listeners>
			</source>
		</sources>
		<trace autoflush="true" />
	</system.diagnostics>
	<connectionStrings>
		<add name="DBConnection"
			 connectionString="server=.\UTFUSONSQLSERVER; database=RestaurantManagement; integrated security=true;"/>
	</connectionStrings>
</configuration>